<div class="modal fade" id="modal_creerRapport" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&#215;</button>
            <h5 class="modal-title">Créer un rapport</h5>
         </div>
         <form method="POST" enctype="multipart/form-data" id="creerRapport_form" data-role="page">
            {% csrf_token %}
            <div class="modal-body">
               <div id="message" data-erreur='{{erreur}}'> {% include 'partials/messages.html' %} </div>
               <!-- lat & lng-->
               <div class="form-group">
                  <div class="row">
                     <div class="category-title">
                        <span><p>Info génerale de bien</p></span>
                     </div>
                     <div id="collapse1" style="margin-bottom:5px;">
                        <div class="col-sm-6">
                           <label>Latitude</label> <input type="text" placeholder="latitude" name="lat" class="form-control" id="latInput" onkeypress="return isDecimal(event)"/>
                        </div>
                        <div class="col-sm-6">
                           <label>Longitude</label> <input type="text" placeholder="longitude" name="lng" class="form-control" id="lngInput" onkeypress="return isDecimal(event)"/>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- lat & lng-->
               <div class="form-group">
                  <div class="row">
                     <div class="col-md-4">
                        <label>CIN client :</label>
                     </div>
                     <div class="col-md-8">
                        <input rows="5" cols="3" class="form-control" placeholder="CIN client" name="cin">
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="row">
                     <div class="col-md-4">
                        <label>Type de bien :</label>
                     </div>
                     <div class="col-md-8">
                        <select data-placeholder="Selectionner le type de bien" class="select-size-lg" name="type_de_bien" id="IdTypeBienRapport">
                           <option></option>
                           <optgroup label="Types">
                              <option value="1">Residentiel</option>
                              <option value="2">Villa</option>
                              <option value="7">Terrain villa</option>
                           </optgroup>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <button type="submit" class="btn bg-blue btn-block" onclick=creerRapport() id="editInfoPerso-submit">Sauvegarder<i class="icon-arrow-right14 position-right"></i></button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

{% include 'my_map/gestion_rapports/box_rapport.html' %}

<script>
   function creerRapport(){
      $("#creerRapport_form").off('click').on('click', function( event ) {
         event.preventDefault ();
         const formData = new FormData(this);
         var client_id = 0;
         fetch("http://127.0.0.1:8000/rapport/createRapport/",{
            method: 'POST',//définir la method du submit du form
            mode : 'same-origin',
            credentials: 'same-origin' ,
            body : formData//définir la formulaire pour le url
         })
         .then((resp) => resp.json())
         .then(function(data) {
            if(data.id != null ) {
               client_id = data.id
               notificationSuccess('success message', 'Rapport ajouter avec succès.' );
               console.log(data)
               $('#modal_creerRapport').modal('toggle');
               rapportOnClick(data.id)
            }
            else{
               notification('Erreur, '+ data['message']);
            }
         });
      });
   }
   
   function rapportOnClick(id) {
      fetch('http://127.0.0.1:8000/rapport/rapport_detail/'+id+'/')
      .then((resp) => resp.json())
      .then(function(data){
         if(data.id != null && typeof data.id != "undefined"){
            console.log("data : ", data)
            get_approxim_pins(data.lat, data.lng)
            $("#creerRapport_form")[0].reset();
            $( '#box_creer_rapport' ).show(function(){
               $(window).scrollTop($('#box_creer_rapport').position().top);
            });
            $('.cin_info').html(data.client.cin)
            $('.nom_info').html(data.client.nom)
            $('.prenom_info').html(data.client.prenom)
            $('.tel_info').html(data.client.tel)
            $('.email_info').html(data.client.email)
         }
      });
   }
   
</script>