<div class="tab-pane fade in active" id="box_cli">
   <div class="panel-body">
      <legend class="text-semibold"><i class="icon-reading position-left"></i>Informations personnelles du client</legend>
      <div class="form-group">
         <div class="row">
            <div class="col-md-4">
               <label>CIN : </label>
               <b><span class="cin_info"></span></b>
            </div>
         </div>
      </div>
      <div class="form-group">
         <div class="row">
            <div class="col-md-4">
               <label>Nom : </label>
               <b><span class="nom_info"></span></b>
            </div>
         </div>
      </div>
      <div class="form-group">
         <div class="row">
            <div class="col-md-4">
               <label>Prénom : </label>
               <b><span class="prenom_info"></span></b>
            </div>
         </div>
      </div>
      <div class="form-group">
         <div class="row">
            <div class="col-md-4">
               <label>Telephone : </label>
               <b><span class="tel_info"></span></b>
            </div>
         </div>
      </div>
      <div class="form-group">
         <div class="row">
            <div class="col-md-4">
               <label>E-mail : </label>
               <b><span class="email_info"></span></b>
            </div>
         </div>
      </div>
      <div class="text-right">
         <ul><a href="#" class='btn btn-default btn-sm' data-toggle='modal' data-target='#modal_editInfoCli'>Editer info<i class="icon-pen position-right"></i><span class="modal_editInfoCli"></span></a></ul>
      </div>					
   </div>
   <div class="modal fade" id="modal_editInfoCli" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&#215;</button>
               <h5 class="modal-title">Créer un client</h5>
            </div>
            <form method="POST" enctype="multipart/form-data" id="creerClient_form" data-role="page">
               {% csrf_token %}
               <div class="modal-body">
                  <div id="message" data-erreur='{{erreur}}'> {% include 'partials/messages.html' %} </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-4">
                           <label>CIN :</label>
                        </div>
                        <div class="col-md-8">
                           <input rows="5" cols="3" class="form-control" placeholder="CIN client" name="cin">
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-4">
                           <label>Nom :</label>
                        </div>
                        <div class="col-md-8">
                           <input rows="5" cols="3" class="form-control" placeholder="Votre nom" name="nom">
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-4">
                           <label>Prenom :</label>
                        </div>
                        <div class="col-md-8">
                           <input rows="5" cols="3" class="form-control" placeholder="Votre prenom" name="prenom">
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-4">
                           <label>Telephone :</label>
                        </div>
                        <div class="col-md-8">
                           <input rows="5" cols="3" class="form-control" placeholder="Votre telephone 1" name="tel">
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-4">
                           <label>E-mail :</label>
                        </div>
                        <div class="col-md-8">
                           <input rows="5" cols="3" class="form-control" placeholder="Votre email" name="email">
                        </div>
                     </div>
                  </div>
                  <div class="form-group login-options">
                     <div class="row">
                     </div>
                  </div>
                  <div class="form-group">
                     <button type="submit" class="btn bg-blue btn-block" id="editInfoPerso-submit">Sauvegarder<i class="icon-arrow-right14 position-right"></i></button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<script>
   $("#creerClient_form").submit(function( event ) {
      event.preventDefault ();
      const formData = new FormData(this);
      fetch("http://127.0.0.1:8000/rapport/addClient/",{
         method: 'POST',//définir la method du submit du form
         mode : 'same-origin',
         credentials: 'same-origin' ,
         body : formData//définir la formulaire pour le url
      })
      .then((resp) => resp.json())
      .then(function(data) {
         if(data.id != null ) {
            notificationSuccess('success message', 'l\'actualisation a été effectuée avec succès' );
            console.log(data)
            $('.cin_info').html(addCommas(data.cin))
            $('.cin').show();
            $('.nom_info').html(addCommas(data.nom))
            $('.nom').show();
            $('.prenom_info').html(addCommas(data.prenom))
            $('.prenom').show();
            $('.tel_info').html(addCommas(data.tel))
            $('.tel').show();
            $('.email_info').html(addCommas(data.email))
            $('.email').show();
            $("#modal_editInfoCli").modal('toggle');
         }
         else{
            notification('Erreur, '+ data['message']);
         }
      }); 
   });
</script>