<div class="tab-pane fade" id="situationJuridique">
    <div class="panel-body">
        <legend class="text-semibold"><i class="icon-reading position-left"></i>La situation juridique du bien</legend>
        <div class="form-group">
          <legend class="text-size-mini text-muted no-border no-padding">Type de validation</legend>
          <div class="checkbox-inline">
             <label for="valide">
                <input type="radio" class="styled"  name="type_valide_nonValid_Mobile" value="pins-list-2" id="valide" autocomplete="off" checked/>Reférences validées</label>	
          </div>
          <br>
          <div class="checkbox-inline">
             <label for="nonValide">
                <input type="radio" class="styled"  name="type_valide_nonValid_Mobile" value="list-pin-non-valider" autocomplete="off" id="nonValide"/>Reférences non validées</label>	
          </div>
          <br>
          <div class="checkbox-inline">
             <label for="nonValideMobile">
                <input type="radio" class="styled"  name="type_valide_nonValid_Mobile" value="list-pin-non-valider-mobile" autocomplete="off" id="nonValideMobile"/>Application mobile non validés</label>	
          </div>
        </div>			
    </div>
 </div>