<div class="tab-pane fade" id="photos">
   <div class="panel-body">
      <div class="col-sm-12">
         <div class="content-group-lg">
            <h6 class="text-semibold"><span><i class="icon-images3"></i></span> Photographies (<span class="photographiesRapport_lenght"></span>)</h6>
            <div id="ajouter-photos-rapport" data-nbrPhotos='0'>
               <a href="#" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#modal_photographiesRapport"><i class="fa fa-plus"></i>&nbsp;Ajouter une photographie</a>
            </div>
            <br/>
            <br/>
            <div class="content"  style="display:none" id="content_photographiesRapport">
               <div class="row" id="PhotographiesRapportDiv"></div>
            </div>							
         </div>
      </div>
   </div>
</div>


<div class="modal fade" id="modal_photographiesRapport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&#215;</button>
            <h5 class="modal-title">Ajouter des photographies</h5>
         </div>
         <form method="POST" id="photographiesRapport_form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="images Description" name="rapport_id_photo" id="rapport_id_photo" class="form-control" style="display:none"/> 
            <div class="modal-body">
               <!-- photos-->
               <div class="form-group">
                  <div class="row">
                     <div class="sidebar-category">
                        <div class="category-title">
                           <span><h4><p>Photographies</p></h4></span>
                        </div>
                        <div class="col-sm-6">
                           <label>Description de l'image</label> <input type="text" placeholder="images Description" name="descriptionImageRapport" id="descriptionImageRapport" class="form-control"/>
                        </div>          
                        <div class="col-sm-6">
                           <label>Image</label>
                           <div class="uploader">
                              <input type="file" accept="image/*" class="file-styled" id="imageRapport" name="imageRapport"/>
                              <span class="filename" style="user-select: none;" id="imageRapport_select">No file selected</span>
                              <span class="action btn bg-primary-400" style="user-select: none;">Choose pic</span>
                           </div>
                           <span class="help-block">Accepted formats: jpg|png|jpeg. Max file size 2Mb</span>
                        </div>      
                     </div>
                  </div>
               </div>
               <!-- /photos-->
               <br/>
               <br/>
               <div class="form-group">
                  <button type="submit" id="addPhotoRapport_submit" class="btn bg-blue btn-block">Ajouter <i class="icon-arrow-right14 position-right"></i></button>
               </div>
            </div> 
         </form>
      </div>
   </div>
</div>

<script>
   $("#addPhotoRapport_submit").off('click').on('click', function( event ) {
      event.preventDefault ();
      /* récupération du formulaire à transmettre */
      var rapport_id = $("#rapport_id_file").val();
      var form = $("#photographiesRapport_form")[0];
      const formData = new FormData(form);
      fetch("http://127.0.0.1:8000/rapport/ajoutPhotographiesRapport/"+rapport_id,{
        method: 'POST',//définir la method du submit du form
        mode : 'same-origin',
        credentials: 'same-origin' ,
        body : formData//définir la formulaire pour le url
      })
      .then((resp) => resp.json())
      .then(function(data) {
         if(data['0'].id != null){
            notificationSuccess('success message', 'Photographie ajouté avec succès' );
            $("#modal_photographiesRapport").modal('toggle');
            $("#photographiesRapport_form")[0].reset();
            $("#imageRapport_select").html('No file selected');
            getPhotographiesRapport(rapport_id);
         }
         else{
            notification( data['message'] );
         }
      });
   });

   
   
   $("#imageRapport").change(function(e){
      var length = document.getElementById("imageRapport").files.length
      var myFile = $('#imageRapport').prop('files')[0];
      if(length != 0){
         var fileName = e.target.files[0].name;
         $("#imageRapport_select").html(fileName);
      }
      else{
         $("#imageRapport_select").html('No file selected');
      }
   });
   
</script>