<!-- Detached sidebar -->
<div class="sidebar-detached">
      <div class="sidebar sidebar-default sidebar-separate">
         <div class="sidebar-content">
            <!-- Filter -->
            {% include 'my_map/filtrage_ref/form_filtrage.html' %}
            <!------------------------------------------------------------------------------------------------>
            {% include 'my_map/filtrage_ref/box_filrage_type_ref.html' %}
            <!------------------------------------------------------------------------------------------------>
            {% include 'my_map/gestion_csv/box_import.html' %}
            <!-- /filter -->
         </div>
      </div>
   </div>
   <!-- /detached sidebar -->
   <script>
      

   </script>