<!-- map area -->

<div class="panel panel-flat">
    <div class="panel-heading">
    {% if user.type_map == "Google"%}
        <h5 class="panel-title">My map (Google Map)</h5>
    {% else %}
        <h5 class="panel-title">My map (Leaflet Map)</h5>
    {% endif %}
    <div class="heading-elements">
        <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
        </ul>
    </div>
    </div>
    <div class="panel-body" id="page-content">
    {% if user.type_map == "Google"%}
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    {% endif %}
    <div class="map-container" id="map"></div>
    </div>
</div>

<!-- /map area -->